* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  flex-direction: column;
  display: flex;
  margin-top: 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.exampleClass {
  width: 150px;
  background: yellow;
}
